.icon {
        height: 40px;
        width: 40px;
    }

     .with-icon {
    display: flex;
  align-items: center;
}
    
h3 {
    font-size: 1em;
}

.line-break {
        background-color: var(--mainBorderColor);
        height: 1px;
    }