<section class="section--page">
  <h2>Skills & Qualifications</h2>
  <ul id="qualifications--list">
    <li class="with-icon">
      <img class="icon" src="./assets/images/greenTick.svg" alt="" aria-hidden="true"> 
      {{ yearsOfExperience }} Years of experience with Frontend Web Development
    </li>
    <li class="with-icon">
      <img class="icon" src="./assets/images/greenTick.svg" alt="" aria-hidden="true">
      Extensive knowledge in creating UIs integrating with different APIs
    </li>
    <li class="with-icon">
      <img class="icon" src="./assets/images/greenTick.svg" alt="" aria-hidden="true">
      Experienced in creating responsive and accessibility compliant web pages
    </li>
  </ul>
</section>
<section class="section--page">
  <h2>Tech stack</h2>
  <div id="wrapper--techstack__items" role="list" aria-label="Technology stack">
    <div class="card--techstack" role="listitem"><span>JavaScript, Typescript, Angular</span></div>
    <div class="card--techstack" role="listitem"><span>AEM</span></div>
    <div class="card--techstack" role="listitem"><span>HTML, CSS, FTL</span></div>
    <div class="card--techstack" role="listitem"><span>Jest, Cypress, Playwright</span></div>
  </div>
</section>
