.section--page {
    padding-top: 1em;
    padding-bottom: 1em;
}

#qualifications--list {
    list-style: none;
}

#wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack {
    border: 1px solid var(--mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 5px;
}

.icon {
    height: 40px;
    width: 40px;
}

.with-icon {
    display: flex;
    align-items: center;
}

#qualifications--list .icon {
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

p, span, li {
    color: var(--secondaryTextColor);
    font-size: 1em;
}

li {
    line-height: 1.9em;
}

h2 {
    color: var(--mainTextColor);
}
