/* You can add global styles to this file, and also import other style files */
:root{
    
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);
    --mainBorderHighlightColor-light: rgb(218, 218, 218);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;
    --mainBorderHighlightColor-dark: #FFFDD0;
    
    --mainTextColor:var(--mainTextColor-light);
    --secondaryTextColor:var(--secondaryTextColor-light);
    --mainLinkColor:var(--mainLinkColor-light);
    --mainBorderColor:var(--mainBorderColor-light);
    --mainBgColor:var(--mainBgColor-light);
    --mainBorderHighlightColor: var(--mainBorderHighlightColor-light);

}


*  {
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
     color: var(--mainTextColor); 
    }